<div class="card card-body col-md-3 col-12 col-sm-6 float-left">
    <a routerlink="car">
            <img src="https://cdn.pixabay.com/photo/2019/06/21/14/09/coffe-4289545_960_720.jpg" 
            class="card-img-top" class="card-img-top">
    </a>

</div>
<div class="card card-body col-md-3 col-12 col-sm-6 float-left">
        <a routerlink="bike">
                <img src="https://cdn.pixabay.com/photo/2019/06/21/14/09/coffe-4289545_960_720.jpg" 
                class="card-img-top" class="card-img-top">
        </a>
    </div>
    <div class="card card-body col-md-3 col-12 col-sm-6 float-left">
            <a routerlink="plane">
                    <img src="https://cdn.pixabay.com/photo/2019/06/21/14/09/coffe-4289545_960_720.jpg" 
                    class="card-img-top" class="card-img-top">
            </a>
        </div>
        <div class="card card-body col-md-3 col-12 col-sm-6 float-left">
                <a routerlink="bus">
                        <img src="https://cdn.pixabay.com/photo/2019/06/21/14/09/coffe-4289545_960_720.jpg" 
                        class="card-img-top" class="card-img-top">
                </a>
            </div>
                        